# Node.js dependencies
node_modules/
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables
.env
.env.local
.env.development.local
.env.production.local

# Editor & System Files
.vscode/
.idea/
.DS_Store

# Vite & React-Specific Files
Sharia-V1/node_modules/
Sharia-V1/dist/
Sharia-V1/.vite/
Sharia-V1/.cache/
Sharia-V1/tests
Sharia-V1/test-results
Sharia-V1/e2e
Sharia-V1/E2ETests
Sharia-V1/playwright.config.js
Sharia-V1/test-examples
Sharia-V1/mocks
Sharia-V1/*.png



# Backend-Specific Files
backend/node_modules/
backend/.cache/
backend/.env
